body {
    margin: 0;
    box-sizing: border-box;
}
body div {
    border-radius: 5px;
}
.first-container div {
    padding: 1em;
}
/*.first-container > div:nth-child(odd){
    background-color: #eee;
}*/
.first-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0;
    color: white;
}
.first-container .column-two, .column-five {
    background-color: darkslategray;
}
.first-container .column-three, .column-four {
    background-color: darkslategrey;
}
/*column one*/
.first-container .column-one {
    grid-column: 1/3;
    height: 80px;
    background-color: darkslategrey;
    border: 1px solid slategrey;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px; 
}
.first-container .column-one .first {
    height: 20px;
    width: 90%;
    background-color: #eed;
    align-self: center;
}
/*column two*/
.first-container .column-two {
    height: 400px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    padding: 30px; 
    justify-items: left;  
    position: relative;  
    border-bottom: 1px solid slategray;     
}
.first-container .column-two .dont-miss {
    height: 50px;
    background-color: #eed;
    width: 40%;
    position: absolute;
    top: 20px;
    right: -100px;
    font-size: 24px;
    font-weight: 700;
    color: black;
    box-decoration-break: slice;
}
.first-container .column-two  .first {
    height: 50px;  
    background-color: grey;
    width: 50%;
    margin-top: 100px;   
}
.first-container .column-two  .second {
    height: 60px;  
    background-color: #eed;
    width: 80%;   
}
.first-container .column-two .third {
    height: 10px;  
    background-color: gray; 
    width: 50%;    
}
/*column three*/
.first-container .column-three {
    height: 400px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    padding: 30px; 
    justify-items: left; 
    border-bottom: 1px solid slategray;         
}
.first-container .column-three .red {
    height: 10px;  
    background-color: #eed;
    width: 30%; 
    justify-self: center;  
    margin-top: 30px;
}
.first-container .column-three  .first {
    height: 50px;  
    background-color: grey;
    width: 50%;   
}
.first-container .column-three  .second {
    height: 60px;  
    background-color: #eed;
    width: 80%;   
}
.first-container .column-three .third {
    height: 10px;  
    background-color: gray; 
    width: 50%;    
}
/*column four*/
.first-container .column-four {
    height: 250px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    padding: 30px; 
    justify-items: left;         
}
.first-container .column-four  .first {
    height: 50px;  
    background-color: grey;
    width: 50%;   
}
.first-container .column-four  .second {
    height: 60px;  
    background-color: #eed;
    width: 80%;   
}
.first-container .column-four .third {
    height: 10px;  
    background-color: gray; 
    width: 50%;    
}
/*column five*/
.first-container .column-five {
    height: 250px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    padding: 30px; 
    justify-items: left;          
}
.first-container .column-five  .first {
    height: 50px;  
    background-color: grey;
    width: 50%;   
}
.first-container .column-five  .second {
    height: 60px;  
    background-color: #eed;
    width: 80%;   
}
.first-container .column-five .third {
    height: 10px;  
    background-color: gray; 
    width: 50%;    
}

/*second container*/
.second-container div {
    padding: 1em;
    background-color: #ddd;
}
/*.second-container > div:nth-child(odd){
    background-color: #eee;
}*/
.second-container {
    text-align: center;
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    grid-auto-rows: minmax(50px, auto);
}
.second-container .column-four {
    grid-column: 1/3;
    background-color: darkslategrey;
    height: 400px;
}
/*.column-one */
.second-container .column-one  {
    background-color:grey;
    height: 250px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    justify-items: left; 
}
.second-container .column-one  div {
    margin: 5px;
}
.second-container .column-one  .first {
    height: 5px; 
    background-color: #eee; 
    width: 30%;         
}
.second-container .column-one  .second {
    height: 20px;  
    background-color: #eed;
    width: 80%;   
}
.second-container .column-one .third {
    height: 5px;  
    background-color: #eee; 
    width: 40%;    
}
.second-container .column-one .fourth {
    background-color: #eed;  
    height: 50px; 
    width: 80%;
}
/*.column-two*/
.second-container .column-two {
    background-color:grey;
    height: 250px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    justify-items: left; 
}
.second-container .column-two div {
    margin: 5px;
}
.second-container .column-two .first {
    height: 5px; 
    background-color: #eee; 
    width: 30%;         
}
.second-container .column-two .second {
    height: 20px;  
    background-color: #eed;
    width: 80%;   
}
.second-container .column-two .third {
    height: 5px;  
    background-color: #eee; 
    width: 40%;    
}
.second-container .column-two .fourth {
    background-color: #eed;  
    height: 50px; 
    width: 80%;
}
/*column-three */
.second-container .column-three  {
    background-color:grey;
    height: 250px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    justify-items: left; 
}
.second-container .column-three  div {
    margin: 5px;
}
.second-container .column-three  .first {
    height: 5px; 
    background-color: #eee; 
    width: 30%;         
}
.second-container .column-three  .second {
    height: 20px;  
    background-color: #eed;
    width: 80%;   
}
.second-container .column-three .third {
    height: 5px;  
    background-color: #eee; 
    width: 40%;    
}
.second-container .column-three .fourth {
    background-color: #eed;  
    height: 50px; 
    width: 80%;
}
/*column-four*/
.second-container .column-four {
    background-color:darkslategrey;
    height: 400px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    justify-items: center; 
}
.second-container .column-four .first {
    height: 50px; 
    background-color: #eee; 
    width: 40%;         
}
.second-container .column-four .second {
    height: 10px;  
    background-color: #eed;
    width: 70%;   
}
.second-container .column-four .third {
    height: 30px;  
    background-color: #eee; 
    width: 80%;    
}
.second-container .column-four .fourth {
    background-color: #eed;  
    height: 10px; 
    width: 40%;
}
.second-container .column-four .fifth {
    background-color: #eed;  
    height: 5px; 
    width: 40%;
}
/*column-five*/
.second-container .column-five {
    background-color:grey;
    height: 250px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    justify-items: left; 
}
.second-container .column-five div {
    margin: 5px;
}
.second-container .column-five .first {
    height: 5px; 
    background-color: #eee; 
    width: 30%;         
}
.second-container .column-five .second {
    height: 20px;  
    background-color: #eed;
    width: 80%;   
}
.second-container .column-five .third {
    height: 5px;  
    background-color: #eee; 
    width: 40%;    
}
.second-container .column-five .fourth {
    background-color: #eed;  
    height: 50px; 
    width: 80%;
}
/*.column-six*/
.second-container .column-six {
    background-color:grey;
    height: 250px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    justify-items: left; 
}
.second-container .column-six div {
    margin: 5px;
}
.second-container .column-six .first {
    height: 5px; 
    background-color: #eee; 
    width: 30%;         
}
.second-container .column-six .second {
    height: 20px;  
    background-color: #eed;
    width: 80%;   
}
.second-container .column-six .third {
    height: 5px;  
    background-color: #eee; 
    width: 40%;    
}
.second-container .column-six .fourth {
    background-color: #eed;  
    height: 50px; 
    width: 80%;
}
/*.column-seven*/
.second-container .column-seven {
    background-color:grey;
    height: 250px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    justify-items: left; 
}
.second-container .column-seven div {
    margin: 5px;
}
.second-container .column-seven .first {
    height: 5px; 
    background-color: #eee; 
    width: 30%;         
}
.second-container .column-seven .second {
    height: 20px;  
    background-color: #eed;
    width: 80%;   
}
.second-container .column-seven .third {
    height: 5px;  
    background-color: #eee; 
    width: 40%;    
}
.second-container .column-seven .fourth {
    background-color: #eed;  
    height: 50px; 
    width: 80%;
}
/*column eight*/
.second-container .column-eight {
    background-color:grey;
    height: 250px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    justify-items: left; 
}
.second-container .column-eight div {
    margin: 5px;
}
.second-container .column-eight .first {
    height: 5px; 
    background-color: #eee; 
    width: 30%;         
}
.second-container .column-eight .second {
    height: 20px;  
    background-color: #eed;
    width: 80%;   
}
.second-container .column-eight .third {
    height: 5px;  
    background-color: #eee; 
    width: 40%;    
}
.second-container .column-eight .fourth {
    background-color: #eed;  
    height: 50px; 
    width: 80%;
}
/*column nine*/
.second-container .column-nine {
    grid-column: 1/4;
    background-color: darkslategrey;
    height: 400px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    justify-items: center; 
}
.second-container .column-nine .first {
    height: 100px; 
    background-color: #eee; 
    width: 20%;         
}
.second-container .column-nine .second {
    height: 20px;  
    background-color: #eed;
    width: 60%;   
}
.second-container .column-nine .third {
    height: 50px;  
    background-color: #eee; 
    width: 50%;    
}
.second-container .column-nine .fourth {
    background-color: #eed;  
    height: 20px; 
    width: 30%;
}
.second-container .column-nine .fifth {
    background-color: gray;  
    height: 5px; 
    width: 20%;
}
/*column ten*/
.second-container .column-ten {
    grid-column: 1/4;
    background-color: darkslategrey;
    height: 400px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    justify-items: center; 
    }
.second-container .column-ten .first {
    height: 5px; 
    background-color: #eee; 
    width: 20%; 
     
}
.second-container .column-ten .second {
    height: 30px;  
    background-color: #eed;
    width: 60%;   
}
.second-container .column-ten .third {
    height: 30px;  
    background-color: #eee; 
    width: 50%;    
}
.second-container .column-ten .fourth {
    background-color: #eed;  
    height: 10px; 
    width: 40%;
}
.second-container .column-ten .fifth {
    background-color: gray;  
    height: 150px; 
    width: 40%;
}
/*column eleven*/
.second-container .column-eleven {
    grid-column: 1/4;
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px;
    background-color: #eee; 
}
.second-container .column-eleven  .first {
    grid-column: 1/2;
    width: 90%;
    height: 90%;
    justify-self: left;
    background-color: darkslategrey;
}
.second-container .column-eleven .second {
    grid-column: 2/-1;
    width: 95%;
    height: 90%;
    justify-self: left;
}
.second-container .column-eleven .second div {
    margin: 10px;
}
.second-container .column-eleven .one {
    height: 5px;
    width: 40%;
    background-color: gray;
}
.second-container .column-eleven .two {
    height: 70px;
    width: 80%;
    background-color: #eed;
}
/*third container*/
.third-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    grid-auto-rows: minmax(50px, auto);
    padding: 0px 100px;
}
.third-container div {
    padding: 1em;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    justify-self: center;
}
/*.third-container > div:nth-child(odd){
    background-color: #eee;
}*/
/*column-one*/
.third-container .column-one {
    height: 200px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    background-color: grey; 
}
.third-container .column-one  .first {
    grid-column: 1/2;
    width: 50px;
    height: 50px;
    justify-self: left;
}
.third-container .column-one  .second {
    grid-column: 2/4;
    width: 90%;
    height: 90%;
    justify-self: left;
}
.third-container .column-one  .second div {
    margin: 10px;
}
.third-container .column-one  .one {
    height: 5px;
    width: 40%;
    background-color: #eee;
}
.third-container .column-one  .two {
    height: 10px;
    width: 80%;
    background-color: #eed;
}
.third-container .column-one .three {
    height: 40px;
    width: 90%;
    background-color: #eee;
}
/*column-two*/
.third-container .column-two {
    height: 200px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    background-color: grey; 
}
.third-container .column-two .first {
    grid-column: 1/2;
    width: 50px;
    height: 50px;
    justify-self: left;
}
.third-container .column-two .second {
    grid-column: 2/4;
    width: 90%;
    height: 90%;
    justify-self: left;
}
.third-container .column-two .second div {
    margin: 10px;
}
.third-container .column-two .one {
    height: 5px;
    width: 40%;
    background-color: #eee;
}
.third-container .column-two .two {
    height: 10px;
    width: 80%;
    background-color: #eed;
}
.third-container .column-two .three {
    height: 40px;
    width: 90%;
    background-color: #eee;
}
/*column-three*/
.third-container .column-three {
    height: 200px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    background-color: grey; 
}
.third-container .column-three .first {
    grid-column: 1/2;
    width: 50px;
    height: 50px;
    justify-self: left;
}
.third-container .column-three .second {
    grid-column: 2/4;
    width: 90%;
    height: 90%;
    justify-self: left;
}
.third-container .column-three .second div {
    margin: 10px;
}
.third-container .column-three .one {
    height: 5px;
    width: 40%;
    background-color: #eee;
}
.third-container .column-three .two {
    height: 10px;
    width: 80%;
    background-color: #eed;
}
.third-container .column-three .three {
    height: 40px;
    width: 90%;
    background-color: #eee;
}
/*column-four*/
.third-container .column-four{
    height: 200px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    background-color: grey; 
}
.third-container .column-four .first {
    grid-column: 1/2;
    width: 50px;
    height: 50px;
    justify-self: left;
}
.third-container .column-four .second {
    grid-column: 2/4;
    width: 90%;
    height: 90%;
    justify-self: left;
}
.third-container .column-four .second div {
    margin: 10px;
}
.third-container .column-four .one {
    height: 5px;
    width: 40%;
    background-color: #eee;
}
.third-container .column-four .two {
    height: 10px;
    width: 80%;
    background-color: #eed;
}
.third-container .column-four .three {
    height: 40px;
    width: 90%;
    background-color: #eee;
}
/*column-five*/
.third-container .column-five{
    height: 200px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    background-color: grey; 
}
.third-container .column-five .first {
    grid-column: 1/2;
    width: 50px;
    height: 50px;
    justify-self: left;
}
.third-container .column-five .second {
    grid-column: 2/4;
    width: 90%;
    height: 90%;
    justify-self: left;
}
.third-container .column-five .second div {
    margin: 10px;
}
.third-container .column-five .one {
    height: 5px;
    width: 40%;
    background-color: #eee;
}
.third-container .column-five .two {
    height: 10px;
    width: 80%;
    background-color: #eed;
}
.third-container .column-five .three {
    height: 40px;
    width: 90%;
    background-color: #eee;
}
/*column-six*/
.third-container .column-six{
    height: 200px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    background-color: grey; 
}
.third-container .column-six .first {
    grid-column: 1/2;
    width: 50px;
    height: 50px;
    justify-self: left;
}
.third-container .column-six .second {
    grid-column: 2/4;
    width: 90%;
    height: 90%;
    justify-self: left;
}
.third-container .column-six .second div {
    margin: 10px;
}
.third-container .column-six .one {
    height: 5px;
    width: 40%;
    background-color: #eee;
}
.third-container .column-six .two {
    height: 10px;
    width: 80%;
    background-color: #eed;
}
.third-container .column-six .three {
    height: 40px;
    width: 90%;
    background-color: #eee;
}
/*column-seven*/
.third-container .column-seven{
    grid-column: 1/3;
    height: 200px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px; 
    background-color: darkslategray; 
}
.third-container .column-seven .first {
    grid-column: 1/3;
    height: 90%; 
    background-color: #eee;  
    justify-self: left;  
    width: 90%
}
.third-container .column-seven .first div {
    margin: 10px;
}
.third-container .column-seven .first .one {
    width: 30%;
}
.third-container .column-seven .first .two {
    width: 40%;
}
.third-container .column-seven .first .three {
    width: 90%;
    height: 10%;
    background-color: gray; 
}
.third-container .column-seven .first .four {
    width: 40%;
} 
.third-container .column-seven .second {
    grid-column: 3/4;
    height: 70%;  
    background-color: gray;
    justify-self: left; 
    width: 90%;
}
/*column-eight*/
.third-container .column-eight {
    height: 300px;
    display: grid;
    width: 89%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px;  
}
.third-container .column-eight .first {
    height: 10px; 
    background-color: #eee; 
    width: 40%; 
    justify-self: left;  
}
.third-container .column-eight .second {
    height: 20px;  
    background-color: gray;
    width: 50%;
    justify-self: left; 
}
.third-container .column-eight .third {
    height: 70px;  
    background-color: #eee; 
    width: 90%;
    justify-self: start; 
}
.third-container .column-eight .fourth {
   background-color: gray;  
   height: 30px; 
   width: 70%;
   justify-self: left; 
}
/*column-nine*/
.third-container .column-nine {
    height: 300px;
    display: grid;
    width: 89%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px;  
}
.third-container  .column-nine .first {
    height: 10px; 
    background-color: #eed; 
    width: 40%; 
    justify-self: left;  
}
.third-container  .column-nine .second {
    height: 20px;  
    background-color: gray;
    width: 50%;
    justify-self: left; 
}
.third-container  .column-nine .third {
    height: 70px;  
    background-color: #eed; 
    width: 90%;
    justify-self: start; 
}
.third-container  .column-nine .fourth {
   background-color: gray;  
   height: 30px; 
   width: 50%;
   justify-self: left; 
}
/*column ten*/
.third-container .column-ten {
    height: 400px;
    display: grid;
    width: 89%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px;  
}
.third-container .column-ten .first {
    height: 10px; 
    background-color: #eee; 
    width: 40%; 
    justify-self: left;  
}
.third-container .column-ten .second {
    height: 20px;  
    background-color: gray;
    width: 60%;
    justify-self: left; 
}
.third-container .column-ten .third {
    height: 70px;  
    background-color: #eee; 
    width: 100%;
    justify-self: center; 
}
.third-container .column-ten .fourth {
   background-color: gray;  
   height: 30px; 
   width: 50%;
   justify-self: left; 
}
/*column-eleven*/
.third-container .column-eleven {
    height: 400px;
    display: grid;
    width: 89%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30px, auto);
    gap: .5em;
    padding: 30px;   
}
.third-container .column-eleven div {
    width: 50%;       
}
.third-container .column-eleven .first {
    height: 100px; 
    background-color: grey;   
}
.third-container .column-eleven .second {
    height: 10px;  
    background-color: gray;  
}
.third-container .column-eleven .third {
    height: 50px; 
    width: 100%; 
    background-color: #eee;  
}
.third-container .column-eleven .fourth {
   background-color: gray; 
   width: 100%;  
}

/*column-twelve*/
.third-container .column-twelve {
    grid-column: 1/3;
    width: 100%;
    height: 400px;
    background-color: darkslategrey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10px, auto);
    gap: .5em;
    padding: 100px;
}
.third-container .column-twelve .first {
    grid-column: 1/5;
    height: 10px;
    width: 300px;
}
.third-container .column-twelve .second {
    grid-column: 1/5;
    height: 80px;
    width: 100%;   
}
.third-container .column-twelve .third {
    grid-column: 1/5;
    height: 10px;
    width: 300px;   
}
.third-container .column-twelve .fourth, .fifth, .sixth, .seventh {
    height: 10px;
    width: 100px;   
}


